{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}


{% block stylesheets %}
    <style>
        *{
            /* border: 2px solid blue; */
        }

        body{
            margin: 0 40%;
        }

        form{
            margin-top: 50%;
            border: 4px solid orange;
            padding: 1%;
        }

        .mb-3{
            text-align: right;
        }

        .loginBox{
            border: 4px solid orangered;
            text-align: center;
            padding: 10%;
        }

        .logo img{
            object-fit: contain;
            height: auto;
            max-width: 100%;
        }

        /* 
        label{
            display: inline-block;
            width: 80px;
            text-align: left;
        } 
        */

        input{
            width: 180px;
        }

        button{
            width: 188px;
            /* padding: 1% 20%; */
            border: 2px solid orange;
            background-color: orangered;
            color: whitesmoke;
        }
        
    </style>
{% endblock %}


{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Has iniciado sesión como <strong>{{ app.user.userIdentifier }}</strong>, <a href="{{ path('app_logout') }}">logout</a>
        </div>
    {% endif %}

    <div class="loginBox">
        <div class="logo">
            <img src="images/waydo-banner.jpg" alt="logo waydo">
        </div>
        <br><br>

        {# <label for="inputNick">nick </label> #}
        <input type="text" value="{{ last_username }}" name="nick" id="inputNick" class="form-control" autocomplete="username" required autofocus placeholder="nick">
        <br>
        {# <label for="inputPassword">contraseña </label> #}
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="contraseña">
        <br><br>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Iniciar sesión
        </button>

        <br><br>
        <p style="font-size: 0.9em;">¿No tienes una cuenta? <a href="{{ path('app_register') }}">Regístrate</a></p>
    </div>
    
</form>
{% endblock %}

{% block footer %}

{% endblock %}