<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Departamentos</title>
</head>

<body>
    Departamento:
    <form name="formulario" method="POST" action="{{ path('buscar') }}">
        <select name="cmbDepart" id="" onchange='formulario.submit()'>
            {# no hay botón, en el onchange se hace el submit de formulario #}
            {% for Departamento in datosDepts %}
                {% if seleccionado is defined and Departamento.id == seleccionado %}
                    <option value="{{Departamento.id}}" selected>{{Departamento.dnombre}}</option>
                    {# en estos framework la forma de acceder a la propiedad es
                    poniendo el nombre de la propiedad, en realidad estas accediendo
                    a través de un get.
                    Si la varible es $num_cama y el get es getNumCama se pone numCama #}
                {% else %}
                    <option value="{{ Departamento.id }}">{{ Departamento.dnombre }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    {% if datosDeptf is defined %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>

        <tbody> 
            <tr>
                <td>{{ datosDeptf.id }}</td>
                <td>{{ datosDeptf.dnombre }}</td>
                <td>{{ datosDeptf.loc }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

</body>

</html>