<html>

<head>
    <title>INFORME</title>
</head>

<body>

    <p>Informe del empleado {{datosEmp[0].apellido}}</p>

    <table>
        <thead>
            <tr>
                <th>APELLIDO</th>
                <th>OFICIO</th>
                <th>FECHA DE ALTA</th>
                <th>SALARIO</th>
            </tr>
        </thead>
        <tbody>
            {% for e in datosEmp %}
            <tr>
                <td>{{e.apellido}}</td>
                <td>{{e.oficio}}</td>
                {# hay que castear la fecha a string #}
                <td>{{e.fechaAlt|date('Y-m-d H:i:s')}}</td>  
                <td>{{e.salario}}</td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>

</body>

</html>