<html>

<head>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>HOSPITAL_COD</th>
                <th>DOCTOR_NO</th>
                <th>APELLIDO</th>
                <th>ESPECIALIDAD</th>
                <th>SALARIO</th>
            </tr>
        </thead>

        <tbody>
            {% for datos in datosDoctores %}
            <tr>
                <td>{{ datos.hospitalcod }}</td>
                <td>{{ datos.doctorno }}</td>
                <td>{{ datos.apellido }}</td>
                <td>{{ datos.especialidad }}</td>
                <td>{{ datos.salario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>