<html>

<head>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>HOSPITAL_COD</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>NUM_CAMA</th>
            </tr>
        </thead>

        <tbody>
            {% for datos in datosHospitales %}
            <tr>
                <td>{{ datos.hospitalcod }}</td>
                <td>{{ datos.nombre }}</td>
                <td>{{ datos.direccion }}</td>
                <td>{{ datos.telefono }}</td>
                <td>{{ datos.numcama }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>