<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/includes/header.css">
    <link rel="stylesheet" href="css/includes/footer.css">
    <title>Actividad</title>
    <style>
        * {
            border: 2px solid blue;
        }

        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        /* HEADER */
        header {
            width: 90%;
        }

        /* CONTENT */
        .content {
            width: 90%;
            margin: 3% auto;
            display: flex;
            color: #808080;
            font-size: 1rem;
            line-height: 1.6;
        }

        .left {
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60%;
            margin: 2%;
        }

        .left img {
            height: 120%;
            width: 100%;
        }

        .right {
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;
            margin: 2%;
        }

        .right img {
            display: block;
            max-width: 100%;
        }

        /*
        @media (max-width: 1200px) {
            .left {
                height: 50%
            }

            .right {
                height: 50%
            }
        }
*/
        .cursiva {
            font-style: italic;
        }

        .bold {
            font-weight: 800;
            text-decoration: solid;
        }

        .button {
            width: 30%;
            padding: 10px 25px;
            border: 2px solid black;
            text-align: center;
            color: black;
            float: right;
        }

        .button:hover {
            color: white;
            background-color: black;
        }


        /* FOOTER */
        
    </style>

</head>

<body>
    
    <p>{{cod}}</p>
    <p>{{dump(actividad)}}</p>
    <p>{{dump(actividad[0])}}</p>
    <p>{{dump(actividad[0].actividad.distrito)}}</p>
    {{actividad[0].actividad.distrito.distrito}}
    


    {% include 'includes/header.html.twig' %}


    <div class="content">
        <div class="left">
            <h1>ACTIVIDAD: {{actividad[0].actividad.nombre}}</h1>
            <img src="images/banner-detalle-actividad.jpg" alt="banner">
            <br><br><br>
            <p>
                {# 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nihil, dolore id vitae vel
                repellendus dolores officiis nobis quod atque eos nostrum ad velit sapiente beatae praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nihil, dolore id vitae vel
                repellendus dolores officiis nobis quod atque eos nostrum ad velit sapiente beatae praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nihil, dolore id vitae vel
                repellendus dolores officiis nobis quod atque eos nostrum ad velit sapiente beatae praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nihil, dolore id vitae vel
                repellendus dolores officiis nobis quod atque eos nostrum ad velit sapiente beatae praesentium.
                #}
                {{actividad[0].actividad.descripcion}}
            </p>
            <br>
            {# haciendo el div clickable #}
            <div class="button"
                onclick="location.href='{{ path('actividadDetalle', {cod:actividad[0].actividad.codactividad}) }}';"
                style="cursor: pointer;">
                i n s c r i b i r m e
            </div>
            
            
            
        </div>
        <div class="right">
            <h1>DISTRITO: {{actividad[0].actividad.distrito.distrito}}</h1>
            <img src="images/localizacion.jpg" alt="localizacion">
            <p>Inscritos: {{actividad[0].actividad.inscritos}}/{{actividad[0].actividad.cupo}}</p>
        </div>
    </div>

    {% include 'includes/footer.html.twig' %}
</body>

</html>