<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
        {% for empleado in empleados %}
        <tr>
            <td>{{empleado.idEmpleado}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.oficio}}</td>
            <td>{{empleado.salario}}</td>
            <td>{{empleado.departamento}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>