<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Actividad</title>
    <link rel="stylesheet" href="css/actividades/actividadCrear.css">
</head>

<body>
    <div class="orangeBorder">
        <div class="crearActividadBox">

            <div class="logo">
                <img src="images/waydo-banner.jpg" alt="logo waydo">
            </div>
            <br>

            <div class="content">
                <form method="POST" action="{{ path('insertarActividad') }}">
                <h1>CREAR ACTIVIDAD</h1>

                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" required>
                <br>

                <label for="municipio">Municipio</label>
                <input name="municipio" type="text" value="MADRID" readonly>
                <br>

                <label for="distrito">Distrito</label>
                {# con el onchange manda el formulario automaticamente, es javascript #}
                <select name="distrito" id="distrito" type="text">
                    {% for d in distritos %}
                    <option value="{{d.distrito}}">{{d.distrito}}</option>
                    {% endfor %}
                </select>
                <br>

                <label for="sensei">Sensei</label>
                <input name="senseiNick" type="text" value="{{app.user.nick}}" readonly/>
                <input name="sensei" type="hidden" type="number" value="{{app.user.id}}"/>
                <br>

                <label for="precio">Precio (satoshis)</label>
                <input name="precio" type="number" value="0">
                <br>

                <label for="inscritos">Inscritos</label>
                <input name="inscritos" type="number" value="0" readonly>
                <br>

                <label for="cupo">Cupo</label>
                <input name="cupo" type="number" value="0">
                <br>

                <label for="finicio">Fecha de inicio</label>
                <input name="finicio" type="date" required>
                <br>

                <label for="ffin">Fecha de fin</label>
                <input name="ffin" type="date" required>
                <br><br>

                <label for="descripcion">Descripcion</label>
                <br>
                <textarea name="descripcion" id="" cols="52" rows="10"></textarea>
                <br>
                <br>

                <label for="submit"></label>
                <button class="btn btn-lg btn-primary" type="submit" value="crear">
                    Crear
                </button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>