<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/actividades/actividadesFlipBox.css">
    <title>Actividades</title>
    
</head>

<body>
    <h1>ACTIVIDADES DISTRITO</h1>


    {# del proyecto4 templates/mostrar/verDepartamentos.html.twig #}
    <div class="distrito">
        <form name="formDistrito" method="POST" action="{{ path('actividadesDistrito') }}"> 
            <label for="distrito"></label>
            {# con el onchange manda el formulario automaticamente, es javascript #}
            <select name="distrito" id="distrito" onchange='formDistrito.submit()'>
                {% for d in distritos %}
                    {% if seleccionado is defined and d.distrito == seleccionado %}
                        <option value="{{d.distrito}}" selected>{{d.distrito}}</option>
                        {# en estos framework la forma de acceder a la propiedad es
                        poniendo el nombre de la propiedad, en realidad estas accediendo
                        a través de un get.
                        Si la varible es $num_cama y el get es getNumCama se pone numCama #}
                    {% else %}
                        <option value="{{d.distrito}}">{{d.distrito}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    
    <div class="actividades">
             
        {% for actividad in actividades %}

        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>{{actividad.NOMBRE}}</h2>
                    <img src="" alt="">
                </div>
                <div class="flip-box-back">
                    <h2>{{actividad.NOMBRE}}</h2>
                    <p class="descActividad">
                        {{actividad.DESCRIPCION}}
                        
                        <br>
                        <div class="button" onclick="location.href='{{ path('actividadDetalle', {cod:actividad.CODACTIVIDAD}) }}';" style="cursor: pointer;">
                            <strong><u><em>MÁS INFORMACIÓN</em></u></strong>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</body>

</html>