<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de empleados Sesion</title>
    <style>
        h3{
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Resumen de empleados Session</h1>

    {% for e in empleados %}
    
    <strong>{{ e[0].apellido|upper }}</strong>
    <br>
    <span>&emsp;{{ e[0].oficio }}</span>
    <br>
    <span>&emsp;{{ e[0].salario }}</span>
    <br>
    <span>&emsp;</span>
    <a href="{{ path('quitarEmpleado', {id:e[0].empno}) }}">Quitar de la Sesion</a>
    <br>
    <br>
    {% endfor %}

    <br>
    <br>
    <h3>Suma salarial de empleados almacenados: {{sumaSalarial}}</h3>
    <a href="{{ path('inicioEmpleadosSesion') }}">Volver</a>
</body>
</html>