{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/registration/register.css">
{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        <div class="registerBox">
            <div class="logo">
                <img src="images/waydo-banner.jpg" alt="logo waydo">
            </div>
            <br>

            <h4>Registro</h4>
            {{ form_row(registrationForm.nick, {'attr': {'class': 'registrationField'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'registrationField'}}) }}
            {{ form_row(registrationForm.telefono, {'attr': {'class': 'registrationField'}}) }}
            {# {{ form_row(registrationForm.distrito, {'attr': {'class': 'registrationField'}}) }} #}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password', 
                'attr': {'class': 'registrationField'}
            }) }}
            <br>
            {{ form_row(registrationForm.agreeTerms, {
                'attr': {'class': 'agreeTermsCheckBox'}
            }) }}

            <br><br>
            <button type="submit" class="btn">Registrarse</button>

            <br><br>
            <p style="font-size: 0.9em;">¿Tienes una cuenta? <a href="{{ path('app_login') }}">Entrar</a></p>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
