{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}

{% block stylesheets %}
<style>
    body {
        margin: 0 30%;
    }

    form {
        margin-top: 20%;
        border: 4px solid orange;
        padding: 1%;
    }

    .registerBox {
        border: 4px solid orangered;
        text-align: center;
        padding: 10%;
    }

    .logo img {
        object-fit: contain;
        height: auto;
        max-width: 100%;
    }

    h3 {
        margin-left: 3%;
        text-align: left;
        text-decoration: underline;
    }

    label {
        display: inline-block;
        text-align: left;
        width: 80px;
    }

    input, select {
        width: 140px;
        margin-bottom: 1%;
    }

    button {
        width: 188px;
        /* padding: 1% 20%; */
        border: 2px solid orange;
        background-color: orangered;
        color: whitesmoke;
    }
</style>


{% endblock %}

{% block body %}

<form method="POST" action="{{ path('modificarRegistro') }}">

    <div class="registerBox">
        <div class="logo">
            <img src="images/waydo-banner.jpg" alt="logo waydo">
        </div>
        <br>
        {% if mensaje != null %}
            <strong><em style="color: green;">{{mensaje}}</em></strong>
        {% endif %}
        
        <h3>Datos pupilo <em>{{app.user.nick}}</em></h3>
 
        {# <label>ID</label> #}
        <input type="hidden" name="txtId" id="txtId" value="{{pupilo.id}}" readonly>

        <label>Nick</label>
        <input type="text" name="txtNick" id="txtNick" value="{{pupilo.nick}}">

        <label>Email</label>
        <input type="email" name="txtEmail" id="txtEmail" value="{{pupilo.email}}">
        <br>

        <label>Telefono</label>
        <input type="tel" name="txtPhone" id="txtPhone" value="{{pupilo.telefono}}">

        <label>Contraseña</label>
        <input type="text" name="txtPassword" id="txtPassword" value="1234">
        <br>

        <label>Nombre</label>
        <input type="text" name="txtNombre" id="txtNombre" value="{{pupilo.nombre}}">

        <label>Apellidos</label>
        <input type="text" name="txtApellidos" id="txtApellidos" value="{{pupilo.apellidos}}">
        <br>

        <label>Fecha de Nacimiento</label>
        <input type="date" name="txtFnac" id="txtFnac" value="{{pupilo.fnac|date('Y-m-d')}}">

        <label>Municipio</label>
        {# <input type="text" name="txtMunicipio" id="txtMunicipio" value="{{pupilo.municipio.municipio}}"> #}
        <input type="text" name="txtMunicipio" id="txtMunicipio" value="MADRID" readonly>
        <br>

        <label>Distrito</label>
        {# <input type="text" name="txtDistrito" id="txtDistrito" value="{{pupilo.distrito.distrito}}"> #}
        <select name="txtDistrito" id="txtDistrito">
            {% for d in distritos %}
                {% if seleccionado is defined and d.distrito == seleccionado %}
                    <option value="{{d.distrito}}" selected>{{d.distrito}}</option>
                    {# en estos framework la forma de acceder a la propiedad es
                    poniendo el nombre de la propiedad, en realidad estas accediendo
                    a través de un get.
                    Si la varible es $num_cama y el get es getNumCama se pone numCama #}
                {% else %}
                    <option value="{{d.distrito}}">{{d.distrito}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <label>Descripcion</label>
        <input type="text" name="txtDescripcion" id="txtDescripcion" value="{{pupilo.descripcion}}">

        <br><br>
        <button class="btn btn-lg btn-primary" type="submit">
            Editar
        </button>

    </div>
</form>
{% endblock %}