{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/registration/editarRegistro.css">
{% endblock %}

{% block body %}

<form method="POST" action="{{ path('modificarRegistro') }}">

    <div class="registerBox">
        <div class="logo">
            <img src="images/waydo-banner.jpg" alt="logo waydo">
        </div>
        <br>
        {% if mensaje != null %}
            <strong><em style="color: green;">{{mensaje}}</em></strong>
        {% endif %}
        
        <h3>Datos pupilo <em>{{app.user.nick}}</em></h3>
 
        {# <label>ID</label> #}
        <input type="hidden" name="txtId" id="txtId" value="{{pupilo.id}}" readonly>

        <label>Nick</label>
        <input type="text" name="txtNick" id="txtNick" value="{{pupilo.nick}}">

        <label>Email</label>
        <input type="email" name="txtEmail" id="txtEmail" value="{{pupilo.email}}">
        <br>

        <label>Telefono</label>
        <input type="tel" name="txtPhone" id="txtPhone" value="{{pupilo.telefono}}">

        {# esto para deshashearlo seria conveniente hacerlo con tu propio hash #}
        <label>Contraseña</label>
        <input type="text" name="txtPassword" id="txtPassword" value="{{1234}}" style="color: red;">
        <br>

        <label>Nombre</label>
        <input type="text" name="txtNombre" id="txtNombre" value="{{pupilo.nombre}}">

        <label>Apellidos</label>
        <input type="text" name="txtApellidos" id="txtApellidos" value="{{pupilo.apellidos}}">
        <br>

        <label>Nacimiento</label>
        <input type="date" name="txtFnac" id="txtFnac" value="{{pupilo.fnac|date('Y-m-d')}}">

        <label>Municipio</label>
        {# <input type="text" name="txtMunicipio" id="txtMunicipio" value="{{pupilo.municipio.municipio}}"> #}
        <input type="text" name="txtMunicipio" id="txtMunicipio" value="MADRID" readonly>
        <br>

        <label>Distrito</label>
        <input type="text" name="txtDistrito" id="txtDistrito" value="{{app.user.distrito}}" readonly>

        <!-- Agregar en un futuro: el desplegable muestra por defecto el distrito seleccionado-->
        {# De proyecto4 templates/mostrar/verDepartamentos #}
        <label>Distrito</label>
        {# <input type="text" name="txtDistrito" id="txtDistrito" value="{{pupilo.distrito.distrito}}"> #}
        
        <select name="txtDistrito" id="txtDistrito">
            {% for d in distritos %}
                {% if d.distrito == app.user.distrito %}
                    <option value="{{d.distrito}}" selected>{{d.distrito}}</option>
                    {# en estos framework la forma de acceder a la propiedad es
                    poniendo el nombre de la propiedad, en realidad estas accediendo
                    a través de un get.
                    Si la varible es $num_cama y el get es getNumCama se pone numCama #}
                {% else %}
                    <option value="{{d.distrito}}">{{d.distrito}}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        <br>

        <!--
        Implementar en un futuro?
        <br>
        <label for="txtdescripcion">Estado</label>
        <input type="text" name="txtDescripcion" id="txtDescripcion" value="{{pupilo.descripcion}}"> 
        -->
        

        <br><br>
        <button class="btn btn-lg btn-primary" type="submit">
            Editar
        </button>

    </div>
</form>
{% endblock %}